{% if hostvars[item]['mac_address'] is defined %}
{% endif %}
LABEL {{ item }}
MENU LABEL {{ item }}
  ipappend 2
  kernel  http://{{ haproxyip }}:{{ webport }}/{{ installer_kernel }}
  append ip=dhcp rd.neednet=1 initrd=http://{{ haproxyip }}:{{ webport }}/{{ initramfs_path }}  console=tty0 console=ttyS0 coreos.inst=yes coreos.inst.install_dev={{ coreos_inst_install_dev }} coreos.inst.image_url=http://{{ haproxyip }}:{{ webport }}/{{ coreos_inst_image_file }} coreos.inst.ignition_url=http://{{ haproxyip }}:{{ webport }}/{{ coreos_inst_ignition_dir }}/master.ign
